# ==========================================
# VARIABLES DE ENTORNO BACKEND (MongoDB Atlas)
# ==========================================

# 1. MONGODB ATLAS
# Aquí debes pegar el String de Conexión de tu Cluster 0 de MongoDB Atlas.
# Asegúrate de cambiar <usuario> y <password> por tus datos reales de la BD.
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.abcde.mongodb.net/godzilladb?retryWrites=true&w=majority

# 2. RESEND EMAIL API
# Obtén tu llave en https://resend.com/api-keys
RESEND_API_KEY=re_tu_llave_de_api

# 3. ENTORNO LOCAL
# El puerto donde correrá este servidor Backend
PORT=3000

# La URL de tu React (Vite) para que CORS permita las peticiones
FRONTEND_URL=http://localhost:5173
